@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	font-family: "Press Start 2P";
	color: #0ead00;
}

body {
	background-color: black;
	text-align: center;
}

#myCanvas {
	background: lightgrey;
	display: block;
	margin: 0 auto;
}

form {
	font-size: 14pt;
}

#reset {
	display: none;
}

#score {
	background-color: white;
	padding: 3px 2px 2px 3px;
}

#radius:hover {
	border: 3px solid #0ead00;

}